#mouseGestureOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: #111;
    border: solid 2px #eee;
    padding: 5px;
}

.mouseGestureArrow {
    color: #eee;
    text-align: center;
}
#mouseGestureCommand{
    color: #eee;
    text-align: center;
}