#settingsMenu{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px 0 0;
}
html{
    height: 400px;
    width: 500px;
}
body{
    height: 400px;
    width: 500px;
}
h1{
    text-align: center;
}
#saveButton{
    margin-top: 10px;
}
#sensDiv{
    padding: 10px 0px 0px 0px;
}
.pane{

}
.item{
}
.hidden{
    display: none;
}